.wraper {
   max-width: 1200px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   margin-bottom: 8rem;
}
.wraper:nth-last-child(1) {
   margin-bottom: 0;
}
.photo {
   min-width: 25nprem;
   max-width: 45%;
   /* height: 44550px; */
   border-radius: 50px;
   overflow: hidden;
}
.postPhoto img {
   width: 100%;
}
.box {
   width: 46%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   align-self: stretch;
}
.title {
   font-weight: 600;
   font-size: 2.5rem;
   margin-bottom: 24px;
}
.text {
   line-height: 32px;
}
