.wraper {
   max-width: 1200px;

   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 5rem;
}
.arrowLeft {
   width: 6rem;
   height: 6rem;
   border-radius: 50%;
   background-color: rgba(0, 179, 181, 1);

   display: flex;
   justify-content: center;
   align-items: center;
}

.text {
   width: 37rem;
   height: 17rem;
   position: relative;
}
.arrowRight {
   width: 6rem;
   height: 6rem;
   border-radius: 50%;
   background-color: rgba(0, 179, 181, 1);
   display: flex;
   justify-content: center;
   align-items: center;
}
