.wraper {
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   padding: 4rem 6rem;
   background-color: white;
   border-radius: 1rem;

   position: absolute;
   top: 0;
   left: 0;
}
.leftColumn {
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   align-self: stretch;
}

.title {
   font-size: 1.75rem;
   font-weight: 500;
   margin-bottom: 1.5rem;
}
.text {
   line-height: 32px;
}
