.nav {
   /* background-color: bisque; */
   max-width: 1200px;
   margin: 0 auto;
   padding: 1rem 0;
   position: sticky;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo {
   display: flex;
   justify-content: center;
   align-items: center;
}
.logo_img {
   width: 60px;
   height: 60px;
}
.logo_img img {
   width: 100%;
}
